@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* Remove Default Styles */
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@layer base {
  html {
    font-family: "Nunito", system-ui, sans-serif;
    @apply transition duration-300 ease-in-out;
    @apply bg-neutral-900;
    @apply scroll-smooth;
    @apply box-border;
  }
}

/* md styling */
.wmde-markdown {
  background-color: #262626 !important;
}

.w-md-editor-toolbar {
  background-color: #262626 !important;
}

.w-md-editor {
  background-color: #262626 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #262626 inset !important;
  -webkit-text-fill-color: white !important;
}

.ant-picker-dropdown ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.ant-picker-dropdown ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

/* Handle */
.ant-picker-dropdown ::-webkit-scrollbar-thumb {
  background: #db277855;
  border-radius: 3px;
}

/* Handle on hover */
.ant-picker-dropdown ::-webkit-scrollbar-thumb:hover {
  background: #db277889;
}

.ant-picker-input {
  font-family: "Nunito", system-ui, sans-serif;
  font-weight: 500;
  max-width: 6.5rem;
}

.ant-picker-range .ant-picker-input {
  max-width: 4.5rem;
}

::-moz-selection {
  background: #ec489a8b;
}

::selection {
  background: #ec489a8b;
}

/* Global Scrollbar */

@media screen and (min-width: 700px) {
  *:not(table)::-webkit-scrollbar {
    width: 7px;
  }

  *:not(table)::-webkit-scrollbar-track {
    background: transparent;
  }

  *:not(table)::-webkit-scrollbar-thumb {
    background: #ffffff1c;
    border-radius: 3px;
  }

  *:not(table)::-webkit-scrollbar-thumb:hover {
    background: #ffffff29;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
}
